<% if @cart %>
  <p class="navbar-text navbar-right">
    <% if @cart.empty? %>
      Your cart is empty
    <% else  %>
       		<%= link_to "You have #{pluralize @cart.count, 'item'}", cart_path %>
    <% end %>
  </p>
<% end %>

