<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th>Image</th>
      <th></th>
    </tr>
  </thead>
  <% products.each do |product| %>
    <tr>
      <td>
        <%= link_to product.name, product %>
      </td>
      <td>
        <%= Category.find(product.category_id).name%>
      </td>
      <td>
        <%= number_to_currency(product.price, :unit => "R") %>
      </td>
      <td>
        <%= image_tag product.image.thumb %>
      </td>
      
    </tr>
  <% end %>

</table>


